body {
    margin: 0;
    padding: 0;
    background-color: rgb(58, 54, 54);
    overflow-x: hidden;
}

.BooklistKapsa {
    background-color: rgb(58, 54, 54);
    min-height: 700px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: darkkhaki;
    letter-spacing: 4px;
}

.booklist {
    background-color: rgb(247, 134, 171);
    width: 220px;
    margin: 10px;
    text-align: center;
    color: black;
    overflow: hidden;
}

.booklist::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 465px;
    color: red;
    background-color: rgb(247, 134, 171);
    opacity: 0;
    transition: .6s;
}

.booklist:hover::before {
    position: absolute;
    content: "+";
    width: 220px;
    height: 465px;
    color: red;
    background-color: rgb(247, 134, 171);
    opacity: .8;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgb(5, 5, 5);
}

img {
    width: 220px;
}

.ortala {
    background-color: rgb(245, 245, 245);
    max-width: 960px;
    min-width: 240px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 100px;
}

/*scroll degistirme*/

/*firefox için  scroll bar duzenleme kodu*/

:root {
    scrollbar-color: rgb(247, 18, 18) rgb(243, 140, 4, 0) !important;
    scrollbar-width: thin !important;
}

/*firefox için  scroll bar duzenleme kodu*/

/*chrome için scrollbar duzenleme kodu.*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(224, 109, 109); */
    border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
    border-radius: 1px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #434344;
}